.events_background{
    background-color: var(--off-white);
    padding-bottom: 5%;
}

.events_heading{
    font-family: 'Poppins';
    padding-top: 3%;
    font-size: 10vh;
    font-weight: 400;
    text-align: center;
}

.events_calendar_container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.events_calendar_iframe{
    padding-top: 3%;
    width: 80%;
    height: 60vh;
}

@media screen and (max-width : 1000px) /* Phone Rules */
{
    .events_heading{
        font-size: 6vh;
    }
    .events_calendar_iframe{
        padding-top: 3%;
        width: 90%;
        height: 50vh;
    }
}