@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

/*The Links needs to be a bit more packed than the other pages because it's more practical to see more links in one viewport*/

:root{
    --off-white: #e8e5e0;
}

/*=============Link Classes=================*/

.link_section_heading{
    text-decoration: underline;
    font-family: 'Playfair Display';
    font-weight: bold;
    text-align: center;
    font-size: 10vh;
    padding-top: 3vh;
    margin-bottom: -2vh;
}

.link_heading{
    font-family: 'Playfair Display';
    font-weight: bold;
    text-align: center;
    font-size: 5vh;
}

.links_background{
    background-color: var(--off-white);
    padding-bottom: 3vh;
}

.links_container{
    width: 90%;
    margin: 0 auto;
}

.link_anchor{
    text-decoration: none;
    color: black;
}

.link_paragraph{
    color: black;
    font-family: 'Open Sans';
    font-size: 1.5em;
    text-align: center;
}

.link_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -1%;
}

.link_img_container{
    overflow: hidden;
}

.link_img_container img {
    width: 100%;
    transition: transform 0.5s;
    padding-left: 3%;
    padding-right: 3%;
}

.link_img_container img:hover {
    transform: scale(1.4);
}

@media screen and (max-width : 1000px) /* Phone rules */
{
    .link_section_heading{
        font-size: 4vh;
        word-break:break-all;
        margin-bottom: -4vh;
    }
    .link_container{
        margin-bottom: -3vh;
    }
    .link_heading{
        font-size: 2.5vh;
    }
    .link_paragraph{
        font-size: 2vh;
        
    }
    .links_spacing{
        padding-top: 3%;
    }
}