@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

.email_label{
    text-align: left;
    font-family: 'Open Sans';
    font-size: 1em;
}

.email_input{
    font-family: 'Open Sans';
}

.email_padding{
    margin-bottom: 2%;
}

.email_center{
    display: flex;
    justify-content: center;
}