@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

:root{
    --off-white: #e8e5e0;
}

.navbar_logo{
    margin-left: 2%;
    width: 5%;
    alt: 'Oyfa Logo';
}

.navbar_tab_content{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 1.2em;
    color: var(--off-white);
}

.navbar_background{
    background-color: black;
}