@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

:root{
    --offer-white: #dad5cd;
    --off-white: #e8e5e0;

}

.archives_background{
    background-color: var(--off-white);
}

.archives_container{
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.file_link{
    text-decoration: none;
    color: black;
}

.file_heading{
    font-family: 'Playfair Display';
    padding-top: 3%;
    margin-top: 3%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.file_img_container{
    overflow: hidden;
}

.file_img_container img {
    width: 100%;
    transition: transform 0.5s;
    padding-left: 3%;
    padding-right: 3%;
}

.file_img_container img:hover {
    transform: scale(1.4);
}