.half_title_container{
    background-color: black;
    height: 400px;
}

.half_title_heading{
    position: absolute;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 6rem;
    word-break: break-all;    
    top: 120px;
    margin-left: 5%;
    color: var(--off-white);
}

.half_title_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.half_title_caption{
    position: absolute;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 2.1rem;
    top: 220px;
    margin-left: 5.5%;
    color: var(--off-white);
}

@media screen and (max-width : 1000px) /* Phone Rules */
{
    /* The half title looks better as a one-third title for mobile, smaller font */
    .half_title_heading{
        font-size: 10vw;
        font-weight: bolder; 
        margin-left: 5%;
    }

    .half_title_container{
        height: 300px;
    }

    .half_title_heading{
        top: 100px;
        bottom: 0;
    }

    .half_title_caption{
        font-size: 1.5rem;
        top: 200px;
    }
}
