@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

.email_label{
    text-align: left;
    font-family: 'Open Sans';
    font-size: 1em;
}

.email_input{
    font-family: 'Open Sans';
}

.email_padding{
    margin-bottom: 2%;
}

.email_center{
    display: flex;
    justify-content: center;
}

.email_no_name_parent{
    display: flex;
    flex-direction: row;
}

.email_label_parent{
    flex: 1;
    margin-right: 1vh;
}

.email_input_parent{
    flex: 2;
    margin-right: 1vh;
}

.email_button_parent{
    flex: 1;
}