@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

:root{
    --off-white: #e8e5e0;
}

.half_title_heading{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 12em;
    font-weight: bold;
    top: 10%;
    margin-left: 5%;
    color: var(--off-white);
}

.half_title_img{
    width: 100%;
    height: 50vh;
    object-fit:cover;
}

.half_title_paragraph{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 3em;
    top: 30%;
    margin-left: 5%;
    color: var(--off-white);
}