.history_background{
    background-color: var(--off-white);
    padding-bottom: 5%;
}

.history_heading{
    font-family: 'Playfair Display';
    padding-top: 3%;
    margin-bottom: 4%;
    font-size: 18vh;
    font-weight: bolder;
    text-align: center;
}

.history_text{
    font-family: 'Open Sans';
    font-size: 1.5em;
    text-align: center;
}

.history_quote_parent{
    width: 80%;
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.history_quote{
    font-family: 'Open Sans';
    font-size: 1.5em;
    text-align: left;
}

.history_quote_author{
    font-family: 'Open Sans';
    font-size: 1.5em;
    margin-top: 3%;
    /*margin-bottom: 3%;*/
    text-align: center;
}

.history_bold{
    font-family: 'Open San';
}

.history_img_parent{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.history_img{
    min-width: 50%;
    max-width: 80%;
    max-height: 70vh;
    margin: auto;
    object-fit: cover;
    margin-top: 2%;
}

.award_img_container img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    margin-top: 10%;
    margin-bottom: 15vh;
}

.quotation1_bold{
    line-height: 0;
    display: inline-block;
    vertical-align: text-bottom;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 8em;
    font-style: italic;
    padding-bottom: 1%;
    transform: translate(-100%, 0);
}

.quotation2_bold{
    line-height: 0;
    display: inline-block;
    vertical-align:text-top;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 8em;
    font-style: italic;
    padding-top: 3%;
    transform: translate(+100%, 0);
}

/* alternative quotation classes for quotation marks that are placed outside of the <p> element and 
.history_quotation1{
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 10em;
    font-weight: bold;
    margin-bottom: -6%;
    margin-left: -7%;
}

.history_quotation2{
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 10em;
    margin-left: 100%;
    margin-top: -6%;
    font-weight: bold;
}
*/

/*=============About History Classes=================*/
@media screen and (max-width : 1000px) /* Phone Rules */
{
    .history_heading{
        font-size: 8vh;
    }
    .history_text{
        font-size: 2.5vh;
    }
    .history_quote{
        font-size: 2.5vh;
        text-align: center;
    }
    .history_quote_author{
        font-family: 'Open Sans';
        font-size: 2.5vh;
        margin-top: 3%;
        margin-bottom: 3%;
        text-align: center;
    }
    .quotation1_bold{
        line-height: unset;
        display: unset;
        vertical-align: unset;
        font-weight:unset;
        font-size: 2.5vh;
        font-style: unset;
        padding-bottom: unset;
        transform: unset;
    }
    .quotation2_bold{
        line-height: unset;
        display: unset;
        vertical-align: unset;
        font-weight: unset;
        font-size: 2.5vh;
        font-style: unset;
        padding-top: unset;
        transform: unset;
    }
    .history_img_parent{
        flex-direction: column;
    }
}