@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

:root{
    --off-white: #e8e5e0;
}

.bio_background{
    background-color: var(--off-white);
}

.bio_heading{
    font-family: 'Playfair Display';
    padding-top: 3%;
    font-size: 8em;
    font-weight: bold;
    text-align: center;
}

.bio_grid_parent{
    width: 80%;
    transform: translate(10%, 0);
    padding-bottom: 3%;
}

.bio_row_parent{
    padding-top: 5%;
}

.bio_img_container{
    align-items:flex-end;
}

/* force text to wrap */
.bio_text_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    text-align: left;
}

.bio_img{
    overflow: hidden;
    width: 100%;
    padding-right: 20%;
    object-fit:cover;
}

.bio_name{
    font-family: 'Playfair Display';
    font-size: 3em;
    font-weight: bold;
    color: black;
    margin-top: 1%;
}

.bio_h2{
    font-family: 'Playfair Display';
    font-size: 2em;
    color: black;
    margin-top: 1%;
}

.bio_text{
    font-family: 'Open Sans';
    font-size: 1.3em;
    color: black;
    margin-top: 1%;
}