@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

:root{
    --offer-white: #dad5cd
}

/*=============Gallery-Wide Classes=================*/

.gallery_heading{
    font-family: 'Playfair Display';
    padding-top: 3%;
    margin-bottom: 4%;
    font-size: 14vh;
    font-weight: bold;
    text-align: center;
}

.gallery_background{
    background-color: var(--offer-white);
}

/*=============Person Classes=================*/

/* parent person container - force components to vertically stack*/
.person_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* class for person div container */
.person_img_container{
    display: flex;
    margin: 0 auto;
    overflow: hidden;
}

/* class for person img. you will probably want to adjust the width depending on what pics historic provides that year */
.person_img_container img{
    max-width: 50vh;
    transition: transform 0.5s;
}

/* zoom on hover animation for person img */
.person_img_container img:hover {
    transform: scale(1.5);
}

/* force text to wrap */
/* you will probably want to adjust the width depending on what pics historic provides that year */
.person_text_container{
    max-width: 55vh;
    word-wrap: break-word;
    text-align: center;
}

/* create buffer of space between person information */
.person_info_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person_name{
    font-family: 'Playfair Display';
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin-top: 5%;
}

.person_major{
    font-family: 'Open Sans';
    font-size: 1.5em;
    color: black;
    margin-top: 5%;
}

.person_email{
    font-family: 'Open Sans';
    font-size: 1.3em;
    color: black;
    margin-top: 5%;
}

.person_title{
    font-family: 'Playfair Display';
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    margin-top: 5%;
}

.committee_row_container{
    margin-bottom: 5%;
}

.committee_grid_container{
    padding-bottom: 5%;
    width: 95%;
    display: flex;
    margin: 0 auto;
}

.person_row{
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width : 1000px) /* Phone Rules */
{
    .gallery_heading{
        font-size: 8vh;
    }
    .person_img_container img{
        max-width: 40vh;
        transition: transform 0.5s;
    }
    .person_text_container{
        width: 40vh;
        word-wrap: break-word;
        text-align: center;
    }
}