:root{
    --off-white: #e8e5e0;
}

.leadership_intro_background{
    background-color: var(--off-white);
}

.leadership_youtube_container{
    padding-top: 3%;
    padding-bottom: 5%;
    transform: translate(25%, 0);
}

.leadership_heading{
    font-family: 'Playfair Display';
    padding-top: 3%;
    font-size: 15vh;
    font-weight: bold;
    text-align: center;
}