@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.paragraph{
    font-family: 'Open Sans';
    font-size: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    font-size: 1.2em;
    margin-right: 1%;
}

.a{
    text-decoration: none;
    color: black;
}