@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

:root{
    --off-white: #e8e5e0;
}

/* dimming the carousel images to make the title pop, depending on the pictures you choose you may want to change this*/
.img{
    filter: brightness(75%)
}

/* force position of the div holding the title */
.title-parent{
    position: absolute;
    left: 5%;
    top: 10%;
    z-index: 1;
}

/* font for title h1 text */
.title{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 8em;
    text-align: left;
    color: var(--off-white);
}

/* force position for the caption */
.caption{
    position: absolute;
    top: 77%;
    transform: translateY(-20%);
}

/* font for the caption header */
.caption-header{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 1.5em;
    color: var(--off-white);
}

/* font for the caption text */
.caption-paragraph{
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 1.2em;
    color: var(--off-white);
}