@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

:root{
    --off-white: #e8e5e0;
}

.intro_parent{
    position: relative;
    width: 100%;
    height: 80%;
    background-color: var(--off-white);
    /* this one below was cool but doesn't work but maybe you can tweak with it */
    /* background-image: linear-gradient(#aec6ff 0%, var(--off-white) 25%); */
    /*background-image: linear-gradient(to right, #ff5569 0%, var(--off-white) 20%, var(--off-white) 80%, #ffffb8 100%);*/
    border-image: linear-gradient(to right, #CE1126 0%, #0038A8 33%, #051941 66%, #FFFF00 100%) 1;
    /*(alternate) border-image: linear-gradient(to right, #CE1126 0%, #0038A8 33%, #FFFF00 67%, #FFFFFF 100%) 1;*/
    border-width: .8em;
    border-style: solid;
    padding-bottom: 5%;
}

.intro_links_container{
    align-items: center;
    margin-bottom: 1%;
}

.intro_paragraph_container{
    transform: translate(10%, 0);
    width: 80%;
}

.intro_social_media_parent{
    width: 50%;
    transform: translate(50%, 0);
}

.intro_heading{
    font-family: 'Playfair Display';
    font-size: 6em;
    font-weight: bold;
    margin-top: 6%;
    margin-bottom: 3%;
    text-align: center;
}

.intro_get_involved_heading{
    font-family: 'Playfair Display';
    font-size: 4em;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.intro_paragraph{
    font-family: 'Open Sans';
    font-size: 1.5em;
    text-align: center;
    margin-top: 3%;
}

.intro_link{
    margin-top: 5%;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1.5em;
}

.intro_caret{
    margin-left: 1%;
    font-size: 1.2em;
}

.intro_img{
    transform: translate(20%, 0);
    width: 70%;
    height: 350px;
    object-fit: cover;
}