.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

/* dimming the carousel images to make the title pop, depending on the pictures you choose you may want to change this*/
.title_img_container {
    filter: brightness(70%);
    height: 800px;
}

.title_img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover  means that the img will fill the box and preserve its aspect ratio  */
    object-position: top; /* Position of the image in it's parent */
}   

/* force position of the div holding the title */
.title_parent{
    position: absolute;
    left: 5%;
    top: 12%;
    z-index: 1;
}

/* font for title h1 text */
.title_h1{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 5vw;
    text-align: left;
    color: rgb(255, 255, 255);
}

/* force position for the caption */
.title_caption{
    position: absolute;
    top: 75%;
}

/* font for the caption header */
.title_caption_header{
    font-family: 'Poppins';
    font-size: 1.5em;
    color: var(--off-white);
}

/* font for the caption text */
.title_caption_paragraph{
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 1.2em; 
    color: var(--off-white);
}

/* remove link underlining for the link */
.title_link{
    text-decoration: none;
}

@media screen and (max-width : 1000px) /* Phone Rules */
{
    /* title carousel is now only 50% height so we get a wider landscape picture
    *  center the title text and make things smaller */
    .title_img_container {
        height: 500px;
    }

    .title_caption{
        top: 75%;
    }
    .title_caption_header{
        font-size: 2vh;
    }
    .title_caption_paragraph{
        font-size: 2vh; 
    }
}