@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

.get_involved_border_div{
    text-align: center;
    align-items: center;
    margin-top: 1%;
    border-right: .1em;
    border-left: 0em;
    border-top: 0em;
    border-bottom: 0em;
    border-color: black;
    border-style: solid;
}

.get_involved_div_no_border{
    text-align: center;
    align-items: center;
    margin-top: 1%;
    border-right: .1em;
    border-left: 0em;
    border-top: 0em;
    border-bottom: 0em;
}

.get_involved_padding{
    margin-bottom: 3%;
}

.get_involved_h1{
    margin-top: 10%;
    margin-bottom: 3%;
    font-family: 'Playfair Display';
    font-weight: bold;
}

.get_involved_h3{
    font-family: 'Open Sans';
    font-size: 1.3em;
    margin-bottom: 3%;
}

.get_involved_social_media_container{
    margin-top: 5%;
    font-size: 70%;
    width: 80%;
    transform: translate(10%, 0);
}

/* this is like a highlighter effect, apply it to the h1s. idk if i liked it or not so i left it off */
.mark {
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(234, 223, 191, 0.473) 4%,
      rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

.get_involved_img{
    /*width: 580px;
    height: 315px;*/
    box-shadow: 0.5vh 0.5vh 0.5vh rgb(141, 141, 141);
    width: 90%;
    height: 400px;
    object-fit: cover;
}

.get_involved_email{
    align-items: center;
}

@media screen and (max-width : 1300px) /* Phone Rules */
{
    /* */
    
}