@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans|Noto+Serif');

:root{
    --off-white: #e8e5e0;
}

/* dimming the carousel images to make the title pop, depending on the pictures you choose you may want to change this*/
.title_img{
    filter: brightness(70%);
}

.title_img_container{
    width: 100vh;
    height: 100vh;
}

/* force position of the div holding the title */
.title_parent{
    position: absolute;
    left: 5%;
    top: 10%;
    z-index: 1;
}

/* font for title h1 text */
.title_h1{
    font-family: 'Playfair Display';
    font-weight: bold;
    /*font-size: 8em;*/
    font-size:13vh;
    text-align: left;
    color: var(--off-white);
}

/* force position for the caption */
.title_caption{
    position: absolute;
    top: 75%;
}

/* font for the caption header */
.title_caption_header{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 1.5em;
    color: var(--off-white);
}

/* font for the caption text */
.title_caption_paragraph{
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 1.2em; 
    color: var(--off-white);
}

/* remove link underlining for the link */
.title_link{
    text-decoration: none;
}

@media screen and (max-width : 1000px) /* Phone Rules */
{
    /* title carousel is now only 50% height so we get a wider landscape picture
    *  center the title text and make things smaller */
    .title_img{
        width: 100vh;
        height: 50vh;
        object-fit: cover;
    }
    .title_img_container{
        width: 100vh;
        height: 50vh;
    }
    .title_h1{
        font-family: "Playfair Display";
        font-weight: bold;
        font-size:7vh;
        text-align: center;
        color: var(--off-white);
    }
    .title_parent{
        left: 0vh;
        top: 8vh;
    }
    .title_caption{
        top: 75%;
    }
    .title_caption_header{
        font-size: 2vh;
    }
    .title_caption_paragraph{
        font-size: 2vh; 
    }
}